div.empty-cart h1
{
  text-align: center;
  padding-top: 40px;
}

div.empty-cart img
{
  margin-left: 450px;
  margin-top: 60px;
  margin-bottom: 60px;
}

table.cart-total
{
  float: right;
  margin-top: 20px;
}

table.cart-total th.subtotal,
table.cart-total th.gst,
table.cart-total th.pst,
table.cart-total th.total,
table.cart-total td.subtotal,
table.cart-total td.gst,
table.cart-total td.pst,
table.cart-total td.total
{
  font-size: 18px;
}

button.checkout
{
  float: right;
  clear: both;
  margin-top: 10px;
  margin-bottom: 48px;
}

.cart_item {
  margin-top: 20px;
  margin-bottom: 20px;
}