@media (min-width:768px) and (max-width:1024px) { /*ipad*/



    .cart_link{
        display:block;
    }
    .product{
        width:40px;
        height:auto;
        margin-bottom: 30px;
        margin-left:0px;
        margin-right:50px;
        transition:0s;
        box-shadow:0 0 9px grey;

    }
    .product img{
        width:90%;
        height:auto;
    }
    .categories, .plants_title, #search_form, #custom-search-input, #select_box, #sort_header{
        display:none;
    }
    .mobile_categories{
        display:block;
    }
   #search-box {
   position: relative;
   width: 100%;
   margin: 0;
}

    #mobile_sort_button{
    position:fixed;
    }
    #flyer{
    display:none;
   }
   .mobile_categories{
   width:70%;
   margin-left:100px;
   background-color:#68125d;
   color:white;
   margin-bottom:10px;
   border-radius: 25px;
   }

}
@media (min-width:768px) and (max-width:979px) {


    #slider{
    display:none;
    }

    .cart_link{
        display:block;
    }
    .product{
        width:40px;
        height:auto;
        margin-bottom: 30px;
        margin-left:50px;
        margin-right:50px;
        transition:0s;
        box-shadow:0 0 9px grey;

    }
    .product img{
        width:90%;
        height:auto;
    }
    .categories, .plants_title, #search_form, #custom-search-input, #select_box, #sort_header{
        display:none;
    }
    .mobile_categories{
        display:block
    }
   #search-box {
   position: relative;
   width: 100%;
   margin: 0;
}

    #mobile_sort_button{
    position:fixed;
    }
    #flyer{
    display:none;
   }
   .mobile_categories{
   width:70%;
   margin-left:80px;
   background-color:#68125d;
   color:white;
   margin-bottom:10px;
   border-radius: 25px;
   }


}

@media (max-width:767px){




    .cart_link{
        display:block;
    }
    .product{
        width:10px;
        margin-bottom: 30px;
        margin-left:30px;
        margin-right:20px;
        transition:0s;
        box-shadow:0 0 9px grey;

    }
    .product img{
        width:90%;
        height:auto;
    }
    .categories, .plants_title, #search_form, #custom-search-input, #select_box, #sort_header{
        display:none;
    }
    .mobile_categories{
        display:block;
    }
   #search-box {
   position: relative;
   width: 100%;
   margin: 0;
   }
  .mobile_categories{
   width:70%;
   margin-left:80px;
   background-color:#68125d;
   color:white;
   margin-bottom:10px;
   border-radius: 25px;
   }

}

@media (max-width:480px){



    .cart_link{
        display:block;
    }
    .product{
        width:90%;
        height:auto;
        margin-bottom: 30px;
        margin-left:40px;
        padding-right:20px;
        margin-right:0;
        transition:0s;
        box-shadow:0 0 9px grey;

    }
    .product img{
        width:90%;
        height:auto;
    }
    .categories, .plants_title, #search_form, #custom-search-input, #select_box, #sort_header{
        display:none;
    }
    .mobile_categories{

        margin-left:25px;
        margin-top:20px;
    }

    #mobile_sort_button{
    position:fixed;
    }

   #flyer{
    display:none;
   }
   .allprod_main{
    margin-left:60px;

   }
   .mobile_categories{
   width:70%;
   margin-left:55px;
   background-color:#68125d;
   color:white;
   margin-bottom:10px;
   border-radius: 25px;
   }

}