.mobile_categories{
    width:100%;
    margin: 0;
    margin:0 auto;
    margin:15px 0 15px 0;
    background:none;
    border:none;
    background:grey;
    font-size:22px;
    padding-top:15px;
    padding-bottom:15px;
    display:none;
}
.mobile_categories_menu{
    position:fixed;
    left:-3000px;
    margin:10px 0 10px 0;
    width:100%;
    height:100%;
    background: white;
    z-index: 888;
    transition:0.5s;
}

button #mobile_cat .mobile_categories{
  margin: 10px 0 10px 0;
  width: 100%;
}
.category_open{
    left:0px;
    
}

.mobile_categories_menu .close{
    display:block;
    position:absolute;
    color:black;
    right:10px;
    top:10px;
    font-size:16px;
}
.mobile_categories_menu h1{
    margin-top:50px;
    margin-bottom:30px;
}
.mobile_categories_menu ul{
    width:100%;
    list-style: none;
    margin:0 auto;

}
.mobile_categories_menu ul li{
    margin-bottom:15px;
    padding-top:3px;
    padding-bottom:3px;
    border-bottom: 1px solid grey;

}