#content h1#plants_title {
  margin: 0;
}

#image_box {
  text-align:center;
}

.image_description {
  width:320px;
  height:320px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  float:left;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.count-input {
  position: relative;
  width: 100%;
  max-width: 165px;
  margin: 10px 0;
}

.count-input input {
  width: 100%;
  height: 36.92307692px;
  border: 1px solid #000;
  border-radius: 2px;
  background: none;
  text-align: center;
}

.count-input input:focus {
  outline: none;
}

.count-input .incr-btn {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
  top: 50%;
  right: 0;
  margin-top: -15px;
  text-decoration:none;
}

.count-input .incr-btn:first-child {
  right: auto;
  left: 0;
  top: 46%;
}

.count-input.count-input-sm {
  max-width: 125px;
}

.count-input.count-input-sm input {
  height: 36px;
}

.count-input.count-input-lg {
  max-width: 200px;
}

.count-input.count-input-lg input {
  height: 70px;
  border-radius: 3px;
}

#description_box {
  position: relative;
  width:auto;
  height:auto;
  border: 1px solid #73AD21;
  margin-top:20px;
  margin-bottom:20px;
  padding:7px;
  font-size: 16px;
}

#reviews_box {
  position: relative;
  width:auto;
  height:auto;
  border: 1px solid #73AD21;
  margin-top:20px;
  margin-bottom:20px;
  padding:7px;
  font-size: 16px;
}

#buy input[type="submit"] {
  background-color:#73AD21;
  border: 1px solid #73AD21;
  border-radius: 2px;
  width: auto;
  height:30px;
}

#buy input[type="number"] {
  width: 50px;
  text-align: center;
}

p.price, 
p.seeds {
  font-size: 18px;
  padding-top: 13px;
  margin: 0px;
}

form#buy {
  font-size: 18px;
}

#detail_content {
  margin-top: 25px;
}

#details {
  padding-left: 0px;
}

#description {
  padding-left: 0px;
}

#reviews {
  padding-left: 0px;
}