body
{
  overflow-x: hidden;
}

.main_content {
  min-height: 550px;
}

/*-------- UTILITY NAV --------*/

#utility_nav {
  background-color: #000;
  color: #fff;
  padding: 15px;
  padding-right: 30px;
  text-align: right;
}

#utility_nav a {
  color: #fff;
  text-decoration: none;
}

#utility_nav a:hover {
  color: #00cc66
}

/* End Utility Nav CSS */

/* ------- NAV -----------*/
/* This fixes the white space above the slider*/
.navbar {
  margin-bottom: 0px;
}

/* End Nav CSS */

/*-------- HEADER --------*/

#header {
  height: 122px;
  background-color: #fff;
  
}

#logo {
  line-height: 122px;
}

#nav {
  font-size: 16px;
  text-align: center;
  line-height: 122px;
}

#nav ul{
  margin: 0px;
  padding: 0px;
}
#nav ul li{
  list-style-type: none;
  display: inline-block;
}
#nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 15px;
}
#nav ul li a:hover {
  color: #00cc66 ;
}
/* End Header CSS */

/* Plants Page Mobile CSS */
.mobile_categories{
  width:90%;
  margin: 0;
  margin-top:15px;
  background:none;
  border:none;
  background:grey;
  font-size:22px;
  padding-top:15px;
  padding-bottom:15px;
  display:none;
}

.mobile_categories_menu{
  position:fixed;
  left:-3000px;
  margin: 0;
  margin-top:20px;
  width:100%;
  height:100%;
  background: white;
  z-index: 888;
  transition:0.5s;
}

.category_open{
  left:0px;  
}

.mobile_categories_menu .close{
  display:block;
  position:absolute;
  color:black;
  right:10px;
  top:10px;
  font-size:16px;
}

.mobile_categories_menu h1{
  margin-top:50px;
  margin-bottom:30px;
}

.mobile_categories_menu ul{
  width:80%;
  list-style: none;
  margin:0 auto;
}

.mobile_categories_menu ul li{
  margin-bottom:15px;
  padding-top:3px;
  padding-bottom:3px;
  border-bottom: 1px solid grey;
}
/* End Plants Page Mobile CSS */


/* Plants List CSS */
div.add_to_cart{
  margin: 0;
  background-color:rgb(143,200,0);
}

.allprod {
  width: 100%;
  height: auto;
  padding-top: 25px;
  padding-bottom: 35px;
}

#category_sidenav ul{
  list-style-type: none;
  padding-left: 5px;
}

#category_sidenav{
  padding-left: 60px;
}

#category_sidenav ul li{
  font-size: 18px;
  margin-bottom: 6px;
}

#category_sidenav ul li a:hover{
  text-decoration: none;
  text-shadow: 1px 1px 3px rgba(0,0,0,.3);
}

#product_list .product{
  width: 110px;
  height:250px;
  padding: 5px 0;
  margin: 5px 5px 5px 0;
  text-align: center;
  transition:.1s;
  background:white;
  padding-top:5px;
  padding-bottom:7px;
  box-shadow:0 0 19px rgba(0,0,0,.3);
  border-radius: 6px;
}

.product{
    width:26%;
    min-width:150px;
    height:250px;
    display:inline-block;
    margin-left:10px;
    margin-right:10px;
    text-align: center;
    transition:1s;
    background:white;
    padding-top:5px;
    padding-bottom:7px;
}

#product_list .product:hover{
  box-shadow:0 0 19px rgba(0,0,0,.7);
}

#product_list .product h3{
  margin-top: 5px;
  font-size: 16px;
}

#search-box {
  position: relative;
  width: 600px;
  margin: 0;
}

#search-form {
  height: 40px;
  border: 1px solid #999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
}

#search-text {
  font-size: 14px;
  color: #ddd;
  border-width: 0;
  background: transparent;
}

#search-box input[type="text"] {
  width: 90%;
  padding: 11px 0 12px 1em;
  color: #333;
  outline: none;
}

#search-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 80px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 42px;
  border-width: 0;
  background-color:rgb(143,200,0) ;
  -webkit-border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}
/* End Plants List CSS */

/* Footer CSS */
#myFooter {
  background-color: #3a3f46;
  color: white;
}

#myFooter .row {
  margin-bottom: 10px;
}

#myFooter .info{
  text-align: justify; 
  color: #afb0b1;
}

#myFooter ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
}

#myFooter h5 {
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
}

#myFooter .logo{
  margin-top: 10px; 
}

#myFooter .second-bar .logo a{
  color:white;
  font-size: 28px;
  float: left;
  font-weight: bold;
  line-height: 68px;
  margin: 0;
  padding: 0;
}

#myFooter a {
  color: #d2d1d1;
  text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
  text-decoration: none;
  color: white;
}

#myFooter .second-bar {
  text-align: center;
  background-color: #33373e;
  text-align: center;
}

#myFooter .second-bar a {
  font-size: 22px;
  color: #9fa3a9;
  padding: 10px;
  transition: 0.2s;
  line-height: 68px;
}

#myFooter .second-bar a:hover {
  text-decoration: none;
}

#myFooter .social-icons {
  float:right;
}

#myFooter .facebook:hover {
  color: #0077e2;
}

#myFooter .google:hover {
  color: #ef1a1a;
}

#myFooter .twitter:hover {
  color: #00aced;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }

    #myFooter .info{
        text-align: center;
    }
}
/* End Footer CSS */

/*---- CSS for Register and Login */
.register {
  color: #000;
  text-align: center;
  border-bottom: 2px solid #ccc;
}

.buttn{
  background-color: #333 !important;
  font-size: 20px !important;
  border: 1px solid #fff;
}
/*---- End CSS for Register --- */

/*---- CSS for Index Page Content --- */
#view_plants {
  margin-top: 50px;
  margin-bottom: 50px ;
  text-align: center;
}

#plants_home .btn-primary {
  background-color: rgb(143,200,0);
}

#plants_home a {
  text-decoration: none;
}

#plants_home a:hover { 
  color: #000;
  background-color: #dbff80;
}

#view_plants .btn-primary {
  background-color: #7647a2;
}

#view_plants a {
  color: #fff;
  text-decoration: none;
}

#view_plants a:hover {
  background-color: #aa8cc5;
}
/*---- End CSS for Index Page Content --- */

/* CSS for Flyer Modal Box */
#flyerModal .modal-dialog {
  width: 1030px;
  height: 771px;
}
/* End CSS for Flyer Modal Box */

/* start CSS for privacy and terms&condition Modal Box */
#privacy {
  width: 100%;
  border: 1px solid #ccc;
  margin: 30px 5px 15px 5px ;
  padding: 10px;
}
/* End CSS for privacy and terms&condition Modal Box */

/* FAQ CSS */
#mainp, #paraf,#mainp1, #paraf1,#mainp2, #paraf2 {
  padding: 6px;
  text-align: center;
  background-color: #ffffcc;
  border: solid 1px #c3c3c3;
}

#mainp,#mainp1,mainp2 {
  padding: 50px;
  display: none;
}
/* End FAQ CSS */

/* Denied blade CSS */
#denied_title {
  text-align: center;
}
#denied_para {
  font-size: 16px;
  text-align: center;
}
/*End Denied blade css */